<%- include('layout', { title: 'Productos' , body: ` <h2 class="mb-4 text-center fw-bold">Mis Talento-Productos</h2>
  <div class="row" id="productList"></div>
  <script src="/js/home.js"></script>
  `}) %>